html{
      font-size: $htmlfs;
      overflow-y: scroll;
}
body {
    font-family: 'Lato', 'Oswald', sans-serif;
    font-size: $fsBody;
    background-color: #fff;
    color: $textColor;
    overflow-x: hidden;
}
.no-scroll {
    overflow: hidden;
    // position: fixed;
    // height: 100%;
    // width: 100%;
    #openNavOverlay {
        display: block;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $linkColor;
    text-decoration: none !important;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $primaryColor;
    }
}
.largetitle{
  font-size: $fsTitle;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: $fsH1;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: $secondaryColor;
}
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: $secondaryColor;
}
h2 {
    font-size: $fsH2;
}
h3 {
    font-size: $fsH3;
}
p{
  font-size: $fsBody;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.title {
    font-family: 'Oswald', sans-serif;
    font-size: $fsTitle;
    color: $primaryColor;
}
.txt-primary {
    color: $primaryColor;
}
.txt-secondary {
    color: $secondaryColor;
}
.bg-light {
    background-color: $lightGray;
}
#openNavOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 97;
    display: none;
    background-color: rgba(black,0.5);
    overflow: hidden;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 2rem;
    padding: 0px;
}
li{
  margin-bottom: 0rem;
}
.row{
  padding: 60px 0px;
}
.padding100{
  padding: 100px 0px;
}
.padding90{
  padding: 90px 0px;
}
.padding80{
  padding: 80px 0px;
}
.padding70{
  padding: 70px 0px;
}
.padding60{
  padding: 60px 0px;
}
.padding50{
  padding: 50px 0px;
}
.padding40{
  padding: 40px 0px;
}
.padding30{
  padding: 30px 0px;
}
.padding25{
  padding: 25px 0px;
}
.padding20{
  padding: 20px 0px;
}
.padding10{
  padding: 10px 0px;
}
.padding0{
  padding: 0px;
}
.margin0{
  margin: 0px;
}
.paddingtop40{
  padding-top: 40px;
}
.paddingtop0{
  padding-top: 0px;
}
.paddingbottom0{
  padding-bottom: 0px;
}
.paddingtop25{
  padding-top: 25px;
}
.paddingbottom25{
  padding-bottom: 25px;
}
.paddingright0{
  padding-right: 0px;
}
.paddingleft0{
  padding-left: 0px;
}
.marginb{
  margin-bottom: 2.5rem;
}
.semibold{
  font-weight: 500;
}
.normalfont{
  font-weight: normal;
}
.bold{
  font-weight: bold;
}
.whiteText{
  color: white!important;
}
.blackText{
  color: black!important;
}
.primaryColor{
  color: $primaryColor;
}
.text-align-center{
  text-align: center;
}
.largetitle{
  font-size: 4.5rem;
}
.largefont p{
    font-size: $fsH2;
    margin-bottom: 3rem;
    line-height: 1.5;
}
.button{
  background-color: $secondaryColor;
  color: white;
  border: 0px;
  padding: 15px 20px;
  line-height: 1;
  font-size: 2.2rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}
.button:hover{
  background-color: $primaryColor;
  color: white;
}
.button.invert{
  background-color: $secondaryColor;
  color: white;
  border: 0px;
  padding: 15px 20px;
  line-height: 1;
  font-size: 2.2rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}
.button.invert:hover{
  background-color: white;
  color: $secondaryColor;
}

.search-submit{
  background-color: $secondaryColor;
  color: white;
  border: 0px;
  padding: 12px 20px;
  line-height: 1;
  font-size: 2.2rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}
.search-submit:hover{
  background-color: $primaryColor;
  color: white;
}
.greenbutton.invert{
  background-color: $primaryColor;
  color: white;
  border: 0px;
  display: inline-block;
  padding: 5px 30px;
  line-height: 1;
  font-size: 2.2rem;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}
.greenbutton.invert:hover{
  background-color: white;
  color: $primaryColor;
}

table {
    border-collapse: collapse;
    border: 1px solid #666;
    width: 100%;
    text-align: center;
}
